html{
    max-width: 100%;
    overflow-x: hidden;
}
body{
    background-color: #121212;
    text-decoration: none;
    color: white;
}
nav{
    text-align: center;
    font-size: 25px;
}
.nav-item{
    text-decoration: none;
    color: white;
    margin: 10px;
}

#terminal{
    background-color: black;
    width: 90vw;
    height: 25vh;
    border-radius: 10px;
    border: 10px solid gray;
}
.terminal_top {
    line-height: 0.06;
    margin-bottom: 0;
    color: rgb(6, 228, 6);
    font-size: 23px;
}
p span{
    color: blue;
    font-size: 23px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form input,
textarea {
  width: 300px;
  min-height: 16px;
  border-radius: 12px;
  padding: 12px;
  font-size: 14px;
  margin-bottom: 10px;
  border: 2px solid #e0e0e0;
  transition: border-color 0.3s;
  font-family: inherit;
}

form input:focus,
textarea:focus {
  outline: none;
  border-color: rgb(48, 71, 48);
}
textarea {
    outline: none;
    width: 300px;
    height: 25px;
    border-radius: 10px;
}
footer a{
    color:white;
    outline: none;
}
button{
    width: 250px;
    height: 40px;
    cursor: pointer;
    border-radius: 12px;
    transition: 1s;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
button:hover{
    background: greenyellow;
}
main div{
    height: 100vh;
    width: 100vw;
}
header{
    width: 100vw;
    position: fixed;
    top: 0;
}
.red_header{
    margin-top: 120px;
    text-align: center;
}
.nav-item:hover{
    font-size: 28px;
}


  .mobile-block {
  display: none;
}
#contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}


@media (max-width: 800px) {
  header {
    justify-content: end;
  }

  header img {
    display: block;
    margin: 20px;
  }

  nav {
    display: none;
  }

  #main {
    flex-direction: column;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .desciption {
    width: 100%;
    text-align: center;
  }

  input,
  textarea {
    width: calc(100vw - 40px);
  }

.site-block {
  height: 100vh;
  width: 100vw;
  padding: 40px;
}
  .site-block {
    padding: 10px;
  }
  .mobile-block {
    background: blueviolet;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
  }

  .mobile-block h1 {
    font-size: 20px;
    margin: 0;
  }
}
.menu-icon {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 30px;
}

.menu-item {
  font-size: 18px;
  text-decoration: none;
  color: white;
  margin: 20px;
  transition: 0.6s;
}

.menu-item:hover {
  font-size: 22px;
  color: gray;
}